__pycache__/
*.py[cod]
sign-train*
venv/
.venv/
data/
results/
*.log
*.tmp
*.bak
*.swp
*.DS_Store
.idea/
.vscode/
*.pt
*.ckpt
wandb/
.history/
.history/*
*.rar
*.e
*.out
*.png
analysis_plots/
plots/
*.txt
wandb_test.py