matplotlib
opencv-python
mediapipe>=0.10.0
tqdm
torch
torchvision
torchaudio

absl-py
annotated-types
attrs
certifi
cffi
charset-normalizer
click
colorama
contourpy
cycler
docker-pycreds
filelock
flatbuffers
fonttools
fsspec
gitdb
GitPython
idna
jax
jaxlib
Jinja2
kiwisolver
MarkupSafe
matplotlib
mediapipe
ml_dtypes
mpmath
networkx
numpy
opencv-contrib-python
opencv-python
opt_einsum
packaging
pillow
pip
platformdirs
protobuf
psutil
pycparser
pydantic
pydantic_core
pyparsing
python-dateutil
PyYAML
requests
scipy
sentencepiece
sentry-sdk
setproctitle
setuptools
six
smmap
sounddevice
sympy
torch
torchaudio
torchvision
tqdm
typing_extensions
typing-inspection
urllib3
wandb
