absl-py
ace_tools
alembic
annotated-types
attrs
certifi
cffi
charset-normalizer
click
colorama
colorlog
contourpy
cycler
docker-pycreds
filelock
flatbuffers
fonttools
fsspec
gitdb
GitPython
greenlet
idna
jax
jaxlib
Jinja2
kiwisolver
Mako
MarkupSafe
matplotlib
mediapipe
ml_dtypes
mpmath
networkx
numpy
opencv-contrib-python
opencv-python
opt_einsum
optuna
packaging
pandas
pillow
platformdirs
protobuf
psutil
pycparser
pydantic
pydantic_core
pyparsing
python-dateutil
pytz
PyYAML
requests
scipy
sentencepiece
sentry-sdk
setproctitle
six
smmap
sounddevice
SQLAlchemy
sympy
torch
torchaudio
torchvision
tqdm
typing_extensions
typing-inspection
tzdata
urllib3
wandb
seaborn
